/* Key scaffolding
-------------------------------------------------- */

body {
  position: relative; /* For scrollyspy */
  /* We add the padding to the body for >768px only */
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sub-container {
  padding-left: 15px;
  padding-right: 15px;
}
.sub-container {
   /*max-width: 860px;*/
}
.sub-container .row {
  margin-left: -15px;
  margin-right: -15px;
}

/* Side notes for calling out things */
.sub-sidenote {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  background-color: rgba(0, 230, 255, .4);
  border-left: 5px solid #007c89;
}
.sub-sidenote h4 {
  margin-top: 0;
}
.sub-sidenote p:last-child {
  margin-bottom: 0;
}
.sub-sidenote code,
.sub-sidenote .highlight {
  background-color: #fff;
}

.glyphicon {
  display: block;
  margin: 5px auto;
  vertical-align: middle;
  margin-right: 3px;
  font-size: 24px;
}

/* Sections
-------------------------------------------------- */

/* Padding for in-page bookmarks */
section,
.sub-section {
  padding-top: 30px;
}

/* Few stylistic typography tweaks */
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}



/* Jumbotrons
-------------------------------------------------- */

.sub-section-header {
  padding-top: 60px;
  color: #333;
  border-bottom: 5px solid #4FB;
}

/* Base class */
.sub-jumbotron {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 15px;
  text-align: center;
}
.sub-jumbotron h1 {
  font-size: 50px;
  line-height: 1;
}

/* Download button */
.sub-jumbotron .btn {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
  color: #b94a48; /* redeclare to override the `.jumbotron a` */
  background-color: #fff;
  border-color: #e5e5e5;
}
.sub-jumbotron .btn:hover,
.sub-jumbotron .btn:active {
  color: #fff; /* redeclare to override the `.jumbotron a` */
  background-color: #b94a48;
  border-color: #b94a48;
}

/* Textual links in masthead */
.masthead-links {
  margin: 20px 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  color: #999;
}
.masthead-links li + li {
  margin-left: 20px;
}


/* Sidenav
-------------------------------------------------- */

.sub-sidebar {
  /* display: none; */
  position: relative;
  width: 100%;
  text-shadow: 0 1px 0 #fff;
  background-color: #FFF;
  box-shadow: inset -1px 0 0 #e5e5e5;
}

/* Nav: first level */
.sub-sidebar > .nav {
  margin: 0 0 25px 0;
}
.sub-sidebar .nav > li > a {
  display: block;
  color: #666;
  padding: 4px 25px;
}
.sub-sidebar .nav > li > a:hover,
.sub-sidebar .nav > li > a:focus {
  text-decoration: none;
  border-right: 1px solid #d5d5d5;
}
.sub-sidebar .nav > .active > a,
.sub-sidebar .nav > .active:hover > a,
.sub-sidebar .nav > .active:focus > a {
  font-weight: 500;
  color: #4FB;
  background-color: transparent;
  border-right: 1px solid #4FB;
}

/* Nav: second level (shown on .active) */
.sub-sidebar .nav .nav {
  display: none;
  margin-bottom: 5px;
}
.sub-sidebar .nav > .active > ul {
  display: block;
}
.sub-sidebar .nav .nav > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 40px;
  font-size: 90%;
}

.sub-sidenav-heading {
  margin: 0 0 25px;
}
.sub-sidenav-heading a {
  display: block;
  padding: 15px 25px;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 0 #fff;
}
.sub-sidenav-heading a:hover {
  color: #4FB;
  text-decoration: none;
}

/* Section headings for groups of links */
.sub-sidenav > li > .nav-header {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
.sub-sidenav > .active > .nav-header,
.sub-sidenav > .active > .nav-header:hover {
  color: #333;
  border-color: #333;
}


/* Icons
-------------------------------------------------- */

.the-icons {
  padding-bottom: 1px;
  margin-left: 0;
  list-style: none;
  margin-bottom: 20px;
  overflow: hidden;
}
.the-icons li {
  float: left;
  width: 100px;
  height: 110px;
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 -1px -1px 0;
}

.the-icons li:hover {
  background-color: rgba(255,0,0,.1);
}


/* Footer
-------------------------------------------------- */

.sub-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  border-top: 1px solid #e5e5e5;
}
.sub-footer p {
  margin-bottom: 0;
  color: #333;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

/* Social proof buttons from GitHub & Twitter */
.sub-social {
  margin-top: 80px;
  margin-bottom: 20px;
}
/* Quick links on Home */
.sub-social-buttons {
  display: inline-block;
  margin: 0;
  list-style: none;
}
.sub-social-buttons li {
  display: inline-block;
  line-height: 1;
}
.sub-social-buttons li + li {
  margin-left: 15px;
}
.sub-social-buttons .twitter-follow-button {
  width: 225px !important;
}
.sub-social-buttons .twitter-share-button {
  width: 98px !important;
}



/* Misc docs stuff
-------------------------------------------------- */

/* Pseudo :focus state for showing how it looks in the docs */
input.focused {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
       box-shadow: 0 0 8px rgba(82,168,236,.6);
}

/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
  .bs-docs-example {
    border-radius: 4px;
  }
  .highlight {
    display: none;
  }
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  /* Back to top link */
  .bs-docs-top {
    text-align: center;
    float: left;
    padding: 7px 15px;
    font-weight: 500;
    color: #333;
    background-color: transparent;
    border-radius: 4px;
  }
  .bs-docs-top:hover {
    color: #4fb;
    text-decoration: none;
    background-color: transparent;
  }
  .bs-docs-top.affix {
    position: fixed;
    right:  15px;
    bottom: 15px;
  }

  .sub-section-header h1 {
    font-size: 80px;
    font-size: 8rem;
    line-height: 1;
  }

  /* Account for fixed navbar (which is static to start) */
  .sub-docs {
    padding-left: 260px;
    padding-right: 40px;
  }

  /* Undo custom padding */
  .sub-container {
    padding-left: 0;
    padding-right: 0;
  }

  /* Show the docs nav */
  .sub-sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    overflow-y: scroll;
  }

  /* Tweak display of docs jumbotrons */
  .masthead {
    padding-top:    100px;
    padding-bottom: 100px;
  }
  .masthead h1 {
    font-size: 100px;
  }
  .masthead p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
  }
  .subhead {
    padding-top:    60px;
    padding-bottom: 60px;
    text-align: left;
  }

  .bs-navbar-top-example .navbar-fixed-top,
  .bs-navbar-bottom-example .navbar-fixed-bottom {
    position: absolute;
  }

}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

  .sub-docs {
    padding-left: 280px;
  }

  /* Icons */
  .the-icons li {
    width: 12.5%;
  }

}

/* Large desktops and up */
@media screen and (min-width: 1200px) {
  .sub-docs {
    padding-left: 300px;
  }

}
